// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.form-group {
  position: relative;
  overflow: hidden;
}

label {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="date"],
input[type="number"],
textarea,
.form-control,
.form-select,
select {
  -webkit-border-radius: 0;
  height: 52px;
  line-height: 64px;
  width: 100%;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $light-white;
  letter-spacing: 0.02em;
  background-color: $primary-black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;

  @include media("<tablet-x") {
    height: 54px;
    line-height: 54px;
  }

  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
    border-color: $primary-yellow !important;
    color: $light-white;

    @include placeholder {
      color: $light-white;
    }
  }

  @include placeholder {
    color: #9e9e9e;
  }
}

select,
.form-select {
  -webkit-appearance: none;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 14px;
  line-height: 20px !important;
  z-index: 9999;
}

textarea {
  resize: none;
  vertical-align: top;
  height: 134px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 10px;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}